# REQUIRED PIP INSTALLATIONS

# https://wa.me/2347010125179?text=👋👋Hello%20commrade,%20save%20my%20contact
# python -m venv wa-viewer-env
# pip install -r requirements.txt

art==5.9
ipykernel
pyautogui
pytz==2021.3
selenium==4.8.2
whatsappcloud==0.0.5
python-whatsapp-bot==0.0.91
